<nz-row [nzGutter]="[24, 0]" class="teste">
    <ng-container *ngFor="let nota of notas">
        <nz-col nzSpan="24">
            <h1>Arquivo XML: {{ nota.nomeArquivo }}</h1>
            <h2>N.º Nota: {{ nota.numeroNota }}</h2>
        </nz-col>
        <nz-col nzSpan="24">
            <nz-row [nzGutter]="[16, 0]">
                <ng-container *ngFor="let produto of nota.produtos; index as i; trackBy:trackByFn">
                    <nz-col nzXs="24" nzSm="6" nzMd="2">
                        <p class="lbl-item">Item:</p>
                        <div class="valor-item">{{ i + 1 }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="18" nzMd="10">
                        <p class="lbl-item">Descrição:</p>
                        <div class="valor-item">{{ produto.descricaoProduto }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="12" nzMd="6">
                        <p class="lbl-item">NCM / CEST:</p>
                        <div class="valor-item">{{ produto.ncmCest }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="12" nzMd="6">
                        <p class="lbl-item">Valor do Produto:</p>
                        <div class="valor-item">R$ {{ produto.valorProduto }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="8">
                        <nz-form-item>
                            <nz-form-label nzSpan="24">Aliquota Interestadual</nz-form-label>
                            <nz-form-control nzSpan="24">
                                <nz-input-number-group nzAddOnAfter="%">
                                    <nz-input-number [(ngModel)]="produto.aliquotaInterestadual" (ngModelChange)="mudancaAliquotaInterestadual(produto)"
                                        [ngModelOptions]="{standalone: true}" ngDefaultControl [nzStep]="1" [nzMax]="100"
                                        [nzMin]="0" [nzInputMode]="'decimal'" nzSize="large"></nz-input-number>
                                </nz-input-number-group>
                            </nz-form-control>
                        </nz-form-item>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="8">
                        <nz-form-item>
                            <nz-form-label nzSpan="24">Aliquota Interna</nz-form-label>
                            <nz-form-control nzSpan="24">
                                <nz-input-number-group nzAddOnAfter="%">
                                    <nz-input-number [(ngModel)]="produto.aliquotaInternaEmit" (ngModelChange)="mudancaAliquotaInterna(produto)"
                                        [ngModelOptions]="{standalone: true}" ngDefaultControl [nzStep]="1" [nzMax]="100"
                                        [nzMin]="0" [nzInputMode]="'decimal'" nzSize="large"></nz-input-number>
                                </nz-input-number-group>
                            </nz-form-control>
                        </nz-form-item>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="8">
                        <nz-form-item>
                            <nz-form-label nzSpan="24">
                              MVA</nz-form-label>
                            <nz-form-control nzSpan="24">
                                <nz-input-number-group nzAddOnAfter="%">
                                    <nz-input-number [(ngModel)]="produto.mva" (ngModelChange)="mudancaMVA(produto)"
                                        [ngModelOptions]="{standalone: true}" ngDefaultControl [nzStep]="1" [nzMax]="100"
                                        [nzMin]="0" [nzInputMode]="'decimal'" nzSize="large"></nz-input-number>
                                </nz-input-number-group>
                            </nz-form-control>
                        </nz-form-item>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="12" nzMd="6">
                        <p class="lbl-item">Produto com MVA:</p>
                        <div class="valor-item">{{ produto.prodMva }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="12" nzMd="6">
                        <p class="lbl-item">Valor com ICMS:</p>
                        <div class="valor-item">{{ produto.valorIcms }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="12" nzMd="6">
                        <p class="lbl-item">Base ST:</p>
                        <div class="valor-item">{{ produto.baseST }}</div>
                    </nz-col>
                    <nz-col nzXs="24" nzSm="12" nzMd="6">
                        <p class="lbl-item">Resultado ICMS-ST:</p>
                        <div class="valor-item">{{ produto.resultadoIcmsST }}</div>
                    </nz-col>
                </ng-container>
            </nz-row>
        </nz-col>
        <nz-divider></nz-divider>
    </ng-container>
    <nz-col nzSpan="24">
        <nz-row [nzJustify]="'end'" [nzGutter]="[16, 0]">
            <nz-col>
                <button nz-button nzSize="large" routerLink="../" routerLinkActive="active">Cancelar</button>
            </nz-col>
            <nz-col>
                <button nz-button nzSize="large" nzType="primary" (click)="gerarRelatorio()">Enviar</button>
            </nz-col>
        </nz-row>
    </nz-col>
</nz-row>