
div .obj{

    font-size: 20px;
    margin: auto;


}

form {
    width: 100%;
    margin: auto;
    padding: 20px;

}

div .todos {
    width: 100%;
    margin: auto;
}

input {
    width: 400px;
    border-width: 1px;
}

span{
    font-size: 18px;
}

.botao {
    min-width: 150px;
    color: white;
    border-radius: 9px;
}
.button{
    text-align: right;
    margin: 5px 20px;
}

.botaoCancelar {
    color: black;
    border-width: 0cap;
    font-size: x-large;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.botaoSalvar {
    background-color: #005CAA;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 2em;
}