div.alerta {
    font-size: 1.3em;
    border: 1px solid;
    padding: 1em;
    max-width: 500px;
    margin: 1em auto;
    word-wrap: break-word;
    position: fixed;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 9999; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#fechar {
    cursor: pointer;
}

div.alerta.inativo {
    display: none;
}

div.alerta.erro {
    background-color: #f1bbbb;
    color: #be4646;
    border-color: #be4646;
}

div.alerta.sucesso {
    background-color: #a6eaa6;
    color: #1a591a;
    border-color: #1a591a;
}
