nz-card{
    width: 400px;
    margin-top: 16px;
    border-radius: 16px;
}

img {
    height: 5em;
    margin: 0 auto;
}

.botao {
    min-width: 150px;
    color: white;
    border-radius: 16px;
}




.botaoAdicionar {
    background-color: green;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

.botaoGerenciar {
    background-color: #005CAA;
}

.botaoGerenciarTodos{
    background-color: #005CAA;
    width: 50%;
    height: 3em;
}



.gerenciarTodos{
    text-align: center;
}

.compartilhar{
    max-height: 8em;
    margin-bottom: 1em;
}

.compartilhar{
    max-height: 8em;
    margin-bottom: 2em;
}
.compartilhar img{
    height: 5em;
    margin: auto, 0;

}


