<div class="container">
  <!-- removido temporariamente o compartilhamento de contas  -->
  <a href="/" *ngif="false"> 
    <nz-card [nzHoverable]="true" class="compartilhar">
      <div nz-flex [nzGap]="20">
        <img src="../../../assets/svgs/compartilhar.svg">
        <div>
          <h4>Compartilhamento de conta</h4>
          <p>Acesse facilmente as contas que você gerencia</p>
        </div>
      </div>
    </nz-card>
  </a>

  <h1>ICMS</h1>

  <nz-table #headerTable [nzData]="data.length ? data : []" [nzShowPagination]="false" class="table">
    <thead>
      <tr>
        <th nzWidth="5%">
          <h2>Empresas</h2>
        </th>
        <th></th>
        <th nzWidth="10%">
          <ng-container>
            <button nz-button [nzSize]="'large'" class="botao botaoAdicionar" routerLink="../cadastro-empresa">Adicionar empresa</button>
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td [nzAlign]="'center'">
          <img src="../../../assets/svgs/empresa.svg" height="30px" width="30px">
        </td>
        <td>
          <nz-flex [nzVertical]="true">
            <h3>{{ item.nome }}</h3>
            <p>Cnpj: {{ item.cnpj }}</p>
          </nz-flex>
        </td>
        <td [nzAlign]="'center'">
          <ng-container>
            <button nz-button [nzSize]="'large'" class="botao botaoGerenciar" routerLink="/icms/grupo-notas"
              routerLinkActive="active">Gerenciar</button>
          </ng-container>

        </td>
      </tr>
      <tr>
        <td colspan="3" class="gerenciarTodos">
          <ng-container>
            <button nz-button [nzSize]="'large'" class="botao botaoGerenciarTodos" routerLink="/icms"
              routerLinkActive="active">Gerenciar Todos</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>
