<div class="container">

    <h1>ICMS - Notas Processadas</h1>

    <a routerLink="/icms/empresa-form" routerLinkActive="active"  class="link-top">
        <nz-card [nzHoverable]="true" class="empresa scrollbar">
          <div class="card ">
                    <div class="name">
                        <img src="../../../assets/svgs/empresa.svg" class="logo-empresa">
                        <nz-flex  class="empresa-name">
                            <h3>Recol Distribuição e Comércio LdivA</h3>
                        </nz-flex>
                        <nz-flex [nzVertical]="false" class="empresa-name">
                            <h3>Arquivo XML:</h3>
                            <p>csosn101.xml</p>
                        </nz-flex>
                    </div>
                <div class="empresa-dados-maior" *ngFor="let item of empresas">
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>Item:</h3>
                            <p>{{ item.item }}</p>
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>Nome:</h3>
                            <p>{{ item.nome }}</p>
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex class="empresa-dados">
                            <h3>Valor:</h3>
                            <p>R$ {{ item.valor }}</p>
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>NCM/SH:</h3>
                            <p>{{ item.ncm_sh }}</p>
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>Cest:</h3>
                            <p>{{ item.cest }}</p>
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>Descrição:</h3>
                            <p>{{ item.descricao }}</p>
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>Alíquota Interestadual:</h3>
                            <input type="text" value="{{ item.aliq_interestadual}}" class="input">
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>Alíquota interna do emitente:</h3>
                            <input type="text" value="{{ item.aliq_interna}}" class="input">
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex  class="empresa-dados">
                            <h3>MVA Original:</h3>
                            <input type="text" value="{{ item.mva}}" class="input">
                        </nz-flex>
                    </div>
                    <div class="empresa-dados">
                        <nz-flex class="empresa-dados">
                            <h3>Multiplicador:</h3>
                            <input type="text" value="{{ item.multiplicador}}" class="input">
                        </nz-flex>
                    </div>
                  </div>
                    <div nzWidth="5%" class="btt-add">
                        <ng-container>
                            <button nz-button [nzSize]="'large'" class="botao botaoAdicionar" routerLink="/icms/regras-processamento" routerLinkActive="active">Cancelar</button>
                            <button nz-button [nzSize]="'large'" class="botao botaoAdicionar" routerLink="/icms/regras-processamento" routerLinkActive="active">Processar</button>
                        </ng-container>
                    </div>
          </div>
        </nz-card>
    </a>

</div>
