nz-select {
    width: 100%;
}

.container-btn-buscar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buscar {
    width: 100%;
    border-radius: 10px;
}

.content {
  max-height: 100%;
  overflow-y: auto; /* Adiciona a scrollbar vertical */
  overflow-x: hidden;
}

.btn-novo {
  border-radius: 10px;
}
