nz-select {
    width: 100%;
}

.container-btn-buscar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buscar {
    width: 100%;
    border-radius: 10px;
}

tbody {
  height: 50vh;
}

.btn-novo {
  border-radius: 10px;
}
