<div class="container">

    <h1>ICMS - Importar Notas</h1>

    <a routerLink="/icms/empresa-form" routerLinkActive="active" class="link-top">
        <nz-card [nzHoverable]="true" class="empresa">
            <table>
                <tr>
                    <td [nzAlign]="'left'" colspan="2">
                        <img src="../../../assets/svgs/empresa.svg" class="logo-empresa">
                        <nz-flex [nzVertical]="true" class="empresa-name">
                            <h3>Recol Distribuição e Comércio LTDA</h3>
                            <p>Compra de licença dd-MM-yyyy</p>
                        </nz-flex>
                    </td>


                    <td [nzAlign]="'right'" colspan="4" class="empresa-buttom">
                        <ng-container>
                            <button nz-button [nzSize]="'large'" class="botao botaoEdit"><img
                                    src="../../../assets/svgs/pencil.svg" height="30px" width="30px"
                                    class="edit"></button>
                        </ng-container>
                    </td>
                </tr>

                <tr>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>CNPJ:</h3>
                            <p>24.745.870/0001-90</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>E-mail:</h3>
                            <p>recolgmail.com</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>Telefone:</h3>
                            <p>(68) 99999-9999</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>Cidade:</h3>
                            <p>Rio Branco - AC</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>Endereço:</h3>
                            <p>Rua Sete de Setembro, 458</p>
                        </nz-flex>
                    </td>
                </tr>
            </table>

        </nz-card>
    </a>

    <h3>Usar valores cadastrados pela Review+</h3>
    <nz-radio-group [(ngModel)]="reviewValue" nzButtonStyle="solid">
        <label nz-radio-button nzValue="Y">Usar</label>
        <label nz-radio-button nzValue="N">Não Usar</label>
    </nz-radio-group>

    <nz-card [nzHoverable]="true" class="empresa">
        <nz-upload [nzBeforeUpload]="beforeUploadSupply" [nzAccept]="'.xml'" [(nzFileList)]="fileList" nzType="drag"
            [nzMultiple]="true" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            (nzChange)="handleChange($event)">
            <p class="ant-upload-drag-icon">
                <span nz-icon nzType="inbox"></span>
            </p>
            <p class="ant-upload-text">Selecione um arquivo ou arraste e solte aqui</p>
            <p class="ant-upload-hint">
                Suporte para upload único ou em massa. arquivos XML.
            </p>
            <ng-container>
                <div class="selecinar">
                    <p>Selecionar</p>
                </div>
            </ng-container>
        </nz-upload>

        <div class="containerButton">
            <button nz-button [nzSize]="'large'" class="botao botaoEnviar" (click)="enviar()">Enviar</button>
        </div>

    </nz-card>
</div>

<nz-modal [(nzVisible)]="modalVisivel" [nzTitle]="'Valores do cálculo'" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalContent>
        
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Enviar</button>
    </ng-template>
</nz-modal>