<form nz-form class="form-cadastrar">
    <nz-row [nzGutter]="[24, 0]">
        <nz-col nzXs="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzSpan="24">CEST</nz-form-label>
                <nz-form-control>
                    <input nz-input nz-col nzSize="large" nzSpan="24" placeholder="CEST" [(ngModel)]="produto.cest" [ngModelOptions]="{standalone: true}" ngDefaultControl/>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzXs="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzSpan="24">NCM</nz-form-label>
                <nz-form-control>
                    <input nz-input nz-col nzSize="large" nzSpan="24" placeholder="NCM" [(ngModel)]="produto.ncm" [ngModelOptions]="{standalone: true}" ngDefaultControl/>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzXs="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzSpan="24">CFOP</nz-form-label>
                <nz-form-control>
                    <input nz-input nz-col nzSize="large" nzSpan="24" placeholder="CFOP" [(ngModel)]="produto.cfop" [ngModelOptions]="{standalone: true}" ngDefaultControl/>
                </nz-form-control>
            </nz-form-item>
        </nz-col>

        <nz-col nzXs="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzSpan="24">Descrição:</nz-form-label>
                <nz-form-control>
                    <nz-input-group [nzSuffix]="textAreaClearTpl" class="ant-input-affix-wrapper-textarea-with-clear-btn">
                        <textarea nz-input [(ngModel)]="produto.descricao" placeholder="Descrição do produto" [ngModelOptions]="{standalone: true}" ngDefaultControl></textarea>
                      </nz-input-group>
                      <ng-template #textAreaClearTpl>
                        @if (produto.descricao) {
                          <span
                            nz-icon
                            class="ant-input-clear-icon"
                            nzTheme="fill"
                            nzType="close-circle"
                            (click)="produto.descricao = ''"
                          ></span>
                        }
                      </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        
        <nz-col nzSpan="24">
            <nz-row nzJustify="end">
                <button nz-button [nzSize]="'large'" nzType="primary" class="botao botaoAdicionar" (click)="submit()">Adicionar</button>
            </nz-row>
        </nz-col>
    </nz-row>
</form>
