<body>
  <div class="images">
      <img src="../../../assets/images/ReviewMais 1.png" alt="logo" class="logo">
      <img src="../../../assets/images/login.png" alt="Imagem cadastro" class="login-img">
  </div>
  <div class="container">
      <form>
          <div class="formulario">
              <label for="nomeEmpresa">Nome da Empresa</label>
              <input type="text" name="nomeEmpresa" id="nomeEmpresa" class="campo">
              <label for="nomeFantasia">Nome Fantasia</label>
              <input type="text" name="nomeFantasia" id="nomeFantasia" class="campo">
              <label for="Cnpj">CNPJ</label>
              <input type="text" name="Cnpj" id="Cnpj" class="campo">
              <label for="dono">Dono</label>
              <input type="password" name="dono" id="dono" class="campo">
              <label for="tipoNegocio">Tipo de Negócio</label>
              <select  name="confirmarSenha" id="confirmarSenha" class="campo">
                <option value=""></option>
                <option value="1">Pessoa Física</option>
                <option value="2">MEI</option>
                <option value="3">Empresa de pequeno porte</option>
                <option value="4">Empresa de médio porte</option>
                <option value="5">Empresa de grande porte</option>
              </select>
          </div>
          <input type="submit" value="Cadastrar" class="botao">
      </form>
  </div>
</body>
