.empresa table {
    width: 100%;
}

nz-card{
    border-radius: 16px;
    padding: 0;
    margin: 15px 0;
}

.link-top{
  padding: 0;
}

.logo-empresa{
  height: 3em;
  margin: 2px 2px 15px 15px;
}

.empresa h3 , .empresa p{
  margin: 0;
}


.empresa-name{
  margin-left: 1em;
  display: inline-block;
}

.botaoEdit {
    padding: 0;
    background-color: #005CAA;
    height: 3em;
    width: 3em;
    border-radius: 16px;
}

.selecinar p{
    background-color: #00000000;
    font-size: 1.5em;
    border: 2px solid #40a9ff;
    border-radius: 10px;
    width: 25%;
    margin: auto;
}