<div (submit)="submit(form)" class="container-main">
    <div class="images">
        <img src="../../../assets/images/ReviewMais 1.png" alt="logo" class="logo">
        <img src="../../../assets/images/login.png" alt="Imagem login" class="login-img">
    </div>
    <div class="container">
        <div class="images-review">
            <img src="../../../assets/images/ReviewMais-Negativo.png" alt="logo" class="logo">
        </div>
        <form #form="ngForm" class="form">
            <div class="formulario">
                <label for="nomeUsuario">Usuário</label>
                <input type="text" name="nomeUsuario" id="nomeUsuario" [(ngModel)]="usuario.nomeUsuario">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" [(ngModel)]="usuario.senha">
                <!-- <a href="#" class="esqueceu-senha">Esqueceu a senha?</a> -->
            </div>
            <input type="submit" value="Entrar" [disabled]="form.invalid" class="botao" routerLink="/inicio">
            <!-- <a href="#" class="cadastre-se">Cadastre-se</a> -->
        </form>
    </div>
</div>