<body>
    <div class="images">
        <img src="../../../assets/images/ReviewMais 1.png" alt="logo" class="logo">
        <img src="../../../assets/images/login.png" alt="Imagem login" class="login-img">
    </div>
    <div class="container">
        <form (submit)="submit(form)" #form="ngForm">
            <div class="icons">
                <img src="../../../assets/svgs/google.svg" alt="Icone do google" class="icones">
                <img src="../../../assets/svgs/meta.svg" alt="Icone da meta" class="icones">
                <img src="../../../assets/svgs/apple.svg" alt="Icone da apple" class="icones">
            </div>
            <hr>
            <div class="formulario">
                <label for="nomeUsuario">Usuário</label>
                <input type="text" name="nomeUsuario" id="nomeUsuario" [(ngModel)]="usuario.nomeUsuario">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" [(ngModel)]="usuario.senha">
                <a href="#" class="esqueceu-senha">Esqueceu a senha?</a>
            </div>
            <input type="submit" value="Entrar" [disabled]="form.invalid" class="botao">
            <a href="#" class="cadastre-se">Cadastre-se</a>
        </form>
    </div>
</body>
