<div class="container">
    <h1>ICMS - Informações Da Empresa</h1>
    <nz-card [nzHoverable]="true" class="empresa">
        <form nz-form>
            <div class="todos">
                <h3>Sobre a Empresa</h3>
                <nz-form-item>
                    <div class="obj">
                        <nz-form-label nzFor="razaoSocial"><span>Razão Social</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="razaoSocial" type="text" id="razaoSocial" [disabled]="true" />
                        </nz-form-control>
                    </div>
                    <div class="obj">
                        <nz-form-label nzFor="cnpj"><span>CNPJ</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="cnpj" type="text" id="cnpj" [disabled]="true" />
                        </nz-form-control>
                    </div>

                </nz-form-item>

                <nz-form-item>
                    <div class="obj">
                        <nz-form-label nzFor="tipo"><span>Tipo de Empresa</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="tipo" type="text" id="tipo" [disabled]="true"/>
                        </nz-form-control>
                    </div>

                    <div class="obj">
                        <nz-form-label nzFor="ano"><span>Ano de Fundação</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="ano" type="text" id="ano" [disabled]="true"/>
                        </nz-form-control>
                    </div>

                </nz-form-item>

                <nz-form-item>
                    <div class="obj">
                        <nz-form-label nzFor="cidade"><span>Cidade</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="cidade" type="text" id="cidade" [disabled]="true"/>
                        </nz-form-control>
                    </div>

                    <div class="obj">
                        <nz-form-label nzFor="endereco"><span>Endereço</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="endereco" type="text" id="endereco"/>
                        </nz-form-control>
                    </div>

                
                </nz-form-item>

                <h3>Contatos</h3>
                <nz-form-item>
                    <div class="obj">
                        <nz-form-label nzFor="email"><span>Email</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="email" type="email" id="email" />
                        </nz-form-control>
                    </div>

                    <div class="obj">
                        <nz-form-label nzFor="tel"><span>Telefone</span></nz-form-label>
                        <nz-form-control [nzSpan]="3">
                            <input nz-input name="Tel" type="tel" id="Tel"/>
                        </nz-form-control>
                    </div>

                </nz-form-item>
                
            </div>
            <div class="button">
                <button nz-button [nzSize]="'large'" class="botao botaoCancelar">Cancelar</button>
                <button nz-button [nzSize]="'large'" class="botao botaoSalvar">Salvar</button>
            </div>

        </form>
    </nz-card>
</div>