<body>
  <div class="images">
    <img src="../../../assets/images/ReviewMais 1.png" alt="logo" class="logo">
    <img src="../../../assets/images/login.png" alt="Imagem cadastro" class="login-img">
</div>
  <div class="container">
    <form>
      <div class="formulario">
        <label for="nomeProduto">Classificação de empresa</label>
        <input type="text" name="nomeProduto" id="nomeProduto" class="campo">

        <label for="valorProduto">Valor</label>
        <input type="text" name="valorProduto" id="valorProduto" class="campo">
      </div>
      <input type="submit" value="Cadastrar Preço" class="botao">
    </form>
  </div>
</body>
