<form nz-form class="form-cadastrar">
    <nz-row [nzGutter]="[24, 0]">
  
        <nz-col nzXs="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzSpan="24">Classificação da Empresa</nz-form-label>
                <nz-form-control>
                    <input nz-input nz-col nzSize="large" nzSpan="24"[(ngModel)]="precificacao.opcao" [ngModelOptions]="{standalone: true}" ngDefaultControl/>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
  
        <nz-col nzXs="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzSpan="24">Valor</nz-form-label>
                <nz-form-control>
                    <input nz-input nz-col nzSize="large" nzSpan="24" [(ngModel)]="precificacao.valor" [ngModelOptions]="{standalone: true}" ngDefaultControl/>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
  
        <nz-col nzSpan="24">
            <nz-row nzJustify="end">
                <button nz-button [nzSize]="'large'" nzType="primary" (click)="submit()">Cadastrar</button>
            </nz-row>
        </nz-col>
    </nz-row>
  </form>
  