/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E0EAF5;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.form-cadastrar {
    background-color: white;
    padding: 8px 16px;
}

.menu-adm {
    height: 100%;
}

.container-acoes {
    padding: 8px;
    flex-wrap: wrap;
}

.inp-busca {
    border-radius: 8px 0px 0px 8px;
}

.btn-inp-busca {
    border-radius: 0px 8px 8px 0px !important;
}

.btn-novo {
    color: white;
    background-color: #00AA11;
    width: 100%;
    max-width: 100%;
}