<nz-layout class="app-layout">
  <nz-layout>
    <nz-header nzTheme="light" *ngIf="isLoggedIn()">
      <div class="logo" routerLink="/" routerLinkActive="active">
        <img src="../assets/svgs/logoReview.svg" alt="logo da Review+">
      </div>

      <div class="list">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item routerLink="/inicio" routerLinkActive="active">Início</li>
          <!-- <li nz-menu-item routerLink="/icms" routerLinkActive="active">ICMS</li>
          <li nz-menu-item routerLink="/teste">Faturas</li>
          <li nz-menu-item>Sobre</li> -->
          <li nz-menu-item routerLink="/adm/empresas" routerLinkActive="active" *ngIf="isAdmin()">administrar</li>
        </ul>
      </div>

      <a class="sair" (click)="logout()">
        <p class="sair-text">Sair</p>
        <img src="../assets/svgs/sair.svg" alt="imagem de logout" class="sair-img">
      </a>
    </nz-header>

    <nz-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
