<nz-layout class="app-layout">
  <nz-layout>
    <nz-header nzTheme="light">
      <div class="logo">
        <img src="../assets/svgs/logoReview.svg" alt="logo da Review+">
      </div>
      <div class="list">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul>
      </div>
      <div class="user-profile">
        <img src="../assets/svgs/user.svg" alt="imagem de usuário">
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
