.container {
  height: 50vh;
  margin: 5em;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borda suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombra leve para contraste */
}

.content {
  height: 100%;
  background-color: white;
}
  