<div class="container">

    <h1>Notas Processadas</h1>

    <a class="link-top">
        <!-- link para modificar dados da empresa -->
        <!-- <a routerLink="/icms/empresa-form" routerLinkActive="active" class="link-top"> -->
        <nz-card [nzHoverable]="true" class="empresa">
            <table>
                <tr>
                    <td [nzAlign]="'left'" colspan="2">
                        <img src="../../../assets/svgs/empresa.svg" class="logo-empresa">
                        <nz-flex [nzVertical]="true" class="empresa-name">
                            <h3>{{ empresa.nome }}</h3>
                        </nz-flex>
                    </td>
                </tr>

                <tr>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>CNPJ:</h3>
                            <p>{{ empresa.cnpj }}</p>
                        </nz-flex>
                    </td>
                    <!-- <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>E-mail:</h3>
                            <p>recolgmail.com</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>Telefone:</h3>
                            <p>(68) 99999-9999</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>Cidade:</h3>
                            <p>Rio Branco - AC</p>
                        </nz-flex>
                    </td>
                    <td class="empresa-dados">
                        <nz-flex [nzVertical]="true" class="empresa-dados">
                            <h3>Endereço:</h3>
                            <p>Rua Sete de Setembro, 458</p>
                        </nz-flex>
                    </td> -->
                </tr>
            </table>

        </nz-card>
    </a>


    <nz-table #headerTable [nzData]="data.length ? data : []" [nzShowPagination]="false" class="table">
        <thead>
            <tr>
                <th colspan="2">
                    <h2 class="text-table">Relatorios</h2>
                </th>
                <th colspan="2" class="th-importar">
                    <ng-container class="th-importar">
                        <button nz-button [nzSize]="'large'" class="botao botaoAdicionar th-importar"
                            routerLink="/icms/importar-nota" routerLinkActive="active">Importar Notas</button>
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-table">
                    <p>ID</p>
                </td>
                <td class="td-table">
                    <p>Valor Total</p>
                </td>
                <td class="td-table">
                    <p>Valor Calculado</p>
                </td>
                <td class="td-table">
                    <p>Ação</p>
                </td>
            </tr>
            <tr *ngFor="let item of relatorios">
                <td class="td-table">
                    <nz-flex [nzVertical]="true">
                        <p>{{ item.id }}</p>
                    </nz-flex>
                </td>
                <td class="td-table">
                    <nz-flex [nzVertical]="true">
                        <p>{{ item.valorTotal }}</p>
                    </nz-flex>
                </td>
                <td class="td-table">
                    <nz-flex [nzVertical]="true">
                        <p>{{ item.valorCalculado }}</p>
                    </nz-flex>
                </td>
                <td [nzAlign]="'center'" class="td-table">
                    <ng-container>
                        <button nz-button [nzSize]="'large'" class="botao botaobaixa">Baixa PDF</button>
                    </ng-container>
                </td>
            </tr>
            <!-- <tr>
            <td colspan="3" class="gerenciarTodos">
              <ng-container>
                <button nz-button [nzSize]="'large'" class="botao botaoGerenciarTodos" routerLink="/icms"
                  routerLinkActive="active">Gerenciar Todos</button>
              </ng-container>
            </td>
          </tr> -->
        </tbody>
    </nz-table>

</div>