<body>
  <div class="images">
      <img src="../../../assets/images/ReviewMais 1.png" alt="logo" class="logo">
      <img src="../../../assets/images/login.png" alt="Imagem cadastro" class="login-img">
  </div>
  <div class="container">
      <form>
          <div class="formulario">
              <label for="nomeCompleto">Nome Completo</label>
              <input type="text" name="nomeCompleto" id="nomeCompleto">
              <label for="nomeUsuario">Usuário</label>
              <input type="text" name="nomeUsuario" id="nomeUsuario" >
              <label for="cpfCnpj">CPF/CNPJ</label>
              <input type="text" name="cpfCnpj" id="cpfCnpj">
              <label for="senha">Senha</label>
              <input type="password" name="senha" id="senha" >
              <label for="confirmarSenha">Confirmar Senha</label>
              <input type="password" name="confirmarSenha" id="confirmarSenha">
          </div>
          <input type="submit" value="Cadastrar" class="botao">
          <a href="#" class="login-link">Já tem uma conta? Faça login</a>
      </form>
  </div>
</body>
