<form nz-form class="form-cadastrar">
  <nz-row [nzGutter]="[24, 0]">

      <nz-col nzXs="24" nzLg="12">
          <nz-form-item>
              <nz-form-label nzSpan="24">Nome Completo</nz-form-label>
              <nz-form-control>
                  <input nz-input nz-col nzSize="large" nzSpan="24"[(ngModel)]="usuario.nomeCompleto" [ngModelOptions]="{standalone: true}" />
              </nz-form-control>
          </nz-form-item>
      </nz-col>

      <nz-col nzXs="24" nzLg="12">
        <nz-form-item>
            <nz-form-label nzSpan="24">Usuário</nz-form-label>
            <nz-form-control>
                <input nz-input nz-col nzSize="large" nzSpan="24"[(ngModel)]="usuario.nomeUsuario" [ngModelOptions]="{standalone: true}" />
            </nz-form-control>
        </nz-form-item>
    </nz-col>

    <nz-col nzXs="24" nzLg="12">
      <nz-form-item>
          <nz-form-label nzSpan="24">Senha</nz-form-label>
          <nz-form-control>
              <input nz-input nz-col nzSize="large" nzSpan="24"[(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}"/>
          </nz-form-control>
      </nz-form-item>
  </nz-col>

  <nz-col nzXs="24" nzLg="12">
    <nz-form-item>
        <nz-form-label nzSpan="24">Confirmar senha</nz-form-label>
        <nz-form-control>
            <input nz-input nz-col nzSize="large" nzSpan="24"/>
        </nz-form-control>
    </nz-form-item>
</nz-col>

      <nz-col nzSpan="24">
          <nz-row nzJustify="end">
              <button nz-button [nzSize]="'large'" nzType="primary" (click)="submit()">Cadastrar</button>
          </nz-row>
      </nz-col>
  </nz-row>
</form>
